.listLink{
    padding: 0px;
    border: none; 
}

.footer{
    padding-top: 60px;
    padding-bottom: 30px;
    background: rgb(2,0,36);
}

#text-footer{
   color: white;
   font-family: 'Arizonia' cursive;
   font-size: 20px;
   
}


.quick__link-title{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer__panel{
    color: #ffffffe7;
}

.list {
    color: white;
    font-size: 14px;
    line-height: 35px; 
}


.footer__text{
    line-height: 30px;
    color:#ffffffe7;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.list li{
    color:#ffffffe7;
}

.address{
    font-size: 14px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.icon{
    color: yellow !important;
    
    

}

.quickLink{
    color: white !important;
    
    
    
}

Link{
    color:#ffffffe7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    
}

.list{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.footer__copyright{
    text-align: center;
    margin-top: 20px;
    font-style: oblique;
    font-size: 12px;
    color:white;
    
}

.social-icon{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    column-gap: 10px;
    color: azure;
    
    
}
.media{
    cursor: pointer;
}
